body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
.container {
  max-width: 500px;
  margin: 2em auto;
  padding: 0 0.5em;
}
fieldset {
  margin-bottom: 1em;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radio {
  margin-right: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.btn {
  margin: 0.4em 0;
  width: 100%;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: #3b99fc;
  color: white;
  padding: 0.8em 1.5em 0.8em;
  cursor: pointer;
  outline: none !important;
  &:hover {
    background: darken(#3b99fc, 10%);
  }
}
h2 {
  font-family: cursive;
  font-weight: normal;
  background: #eee;
  padding: 1em;
}
