doctype html
html
  head
    meta(charset="UTF-8")
    title Synth Patch Name Generator
    link(rel="stylesheet" href="css/style.css")
  body
    .container
      h1 Synth Patch Name Generator
      form#generator
        fieldset.patch-type
          legend Patch Type
          .radio-group
            .radio
              input(type="radio" id="bass" name="type" value="Bass" checked)
              label(for="bass") Bass
            .radio
              input(type="radio" id="eight0eight" name="type" value="808")
              label(for="eight0eight") 808
            .radio
              input(type="radio" id="riser" name="type" value="Riser")
              label(for="riser") Riser
            .radio
              input(type="radio" id="lead" name="type" value="Lead")
              label(for="lead") Lead
            .radio
              input(type="radio" id="kick" name="type" value="Kick")
              label(for="kick") Kick
            .radio
              input(type="radio" id="snare" name="type" value="Snare")
              label(for="snare") Snare
        fieldset.genre
          legend Genre
          input(type="radio" id="dubstep" name="genre" value="Dubstep" checked)
          label(for="dubstep") Dubstep
          input(type="radio" id="house" name="genre" value="House")
          label(for="house") House
          input(type="radio" id="alternative" name="genre" value="Alternative")
          label(for="alternative") Alternative
          input(type="radio" id="tropical" name="genre" value="Tropical")
          label(for="tropical") Tropical
          input(type="radio" id="trap" name="genre" value="Trap")
          label(for="trap") Trap
        input(type="submit" value="Get Patch Name").btn
      h2#output Click  Above to Get Patch Name
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="js/index.js")
